body {
  background-color: #f7f7f7;
}
.nav-container {
  align-items: center;
  border-bottom: 1px solid rgba(196, 192, 192, 0.499);
}
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.logo img {
  width: 100px;
  height: 100px;
}

.green {
  color: #8db1ab;
}

.nav-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 5vh;
  align-items: center;
}
.nav-list .bar {
  width: 100%;
  height: 100%;
  background-color: #141b25;
  display: none;
  color: white;
  padding: 10px 20px;
}
.nav-list ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  cursor: pointer;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 100vw;
  padding: 20px;
  border-bottom: 1px solid rgba(196, 192, 192, 0.499);
}

.a {
  position: relative;
  max-width: 448px;
  height: 219px;
  color: inherit;
}
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0505059d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: 500ms;
  opacity: 0;
}
.hover-image i {
  width: 60px;
  height: 60px;
  background-color: #8db1ab;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  color: white;
}
.a:hover .hover-image {
  opacity: 1;
}
.a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ftr {
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.foot-container {
  width: 75%;
  display: flex;
}

.monarch {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 30px 70px;
  justify-content: space-evenly;
}
.monarch i {
  background-color: #eceaea;
  padding: 15px 15px;
}
.navigation {
  max-width: 50%;
  height: 80%;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.navigation span {
  text-align: left;
}
.foot-container .navigation ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  font-weight: bold;
}
.navigation li:hover {
  color: #8db1ab;
  cursor: pointer;
}
.end {
  padding-bottom: 30px;
}

/* Blog page css start */

#blog {
  width: 100vw;
  height: 40vh;
  position: relative;
}
#blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-container {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.header-container a {
  color: white;
  font-size: 18px;
  padding-left: 6px;
  transition: 500ms;
}
.header-container i {
  color: white;
}
.header-container a:hover {
  color: #8db1ab;
  cursor: pointer;
}
.header-container h1 {
  color: white;
  font-size: 44px;
  font-weight: normal;
}
#image-container-blog {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  padding-bottom: 50px;
}
.image-container-blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-top: 100px;
}
.g {
  width: 260px;
  height: 489px;
  position: relative;
  background-color: #ffffff;
}

.g img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.g .date {
  background-color: #8db1ab;
  width: 50%;
  border-radius: 6px;
  display: flex;
  height: 7%;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: white;
  position: absolute;
  top: 46%;
  left: 10%;
}
.g .text {
  padding-top: 35px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.g .text p {
  color: #acacac;
}
.pages ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.pages li {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid rgba(65, 65, 65, 0.055);
  border-radius: 3px;
  transition: 500ms;
}
.color {
  background-color: #8db1ab;
}
.pages li:hover {
  background-color: #8db1ab;
  cursor: pointer;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .image-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .nav-list ul {
    display: none;
  }
  .nav-list .bar {
    display: block;
  }
  #ftr {
    font-size: 14px;
    gap: 30px;
  }
  .foot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .monarch {
    max-width: 100%;
    gap: 20px;
    align-items: center;
    font-size: 14px;
  }
  .image-container-blog {
  
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);

  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #ftr {
    font-size: 14px;
    gap: 30px;
  }
  .foot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .monarch {
    max-width: 100%;
    gap: 20px;
    align-items: center;
    font-size: 14px;
  }
  .nav-list ul {
    display: none;
  }
  .nav-list .bar {
    display: block;
  }
  .image-container-blog {
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .image-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .image-container-blog {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }
  .foot-container {
    font-size: 15px;
  }
  .foot-container .monarch {
    font-size: 13px;
  }
  #ftr {
    gap: 70px;
  }
}
@media (min-width: 991.98px) and (max-width: 1191px) {

    .image-container-blog {
  
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
  
    }
 
  }